.main-nav ul {
  display: none;
}

.main-nav:hover ul{
  display: block;
}

.ham:hover {
  background-color: #aaa;
  /*border-radius: .5em;*/
}

.ham li {
  padding: .2em;
}

.ham li:hover {
  text-decoration: underline;
}

/* @media only screen... */

@media screen and (min-width: 700px) {
  .ham, .social {
    display: none;
  }
  .main-nav {
    /*padding: 0.1em;
    clear: both;*/
  }

  .main-nav ul {
    /*display: inline-block;*/
    /*padding: 0;*/
    /*list-style: none;*/
    /*clear: both;*/
  }

  .main-nav li {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    display: inline;
    margin-left: 1em;
  }

  .social {
    display: inline-block;
    position: fixed;
    right: 10px;
    top: 10px;
  }

}
